<nav aria-label="breadcrumb" style="margin: 10px">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Inicio</a></li>
        <li class="breadcrumb-item active" aria-current="page">Opciones</li>
    </ol>
</nav>
<div class="card" style="margin: 10px">
    <div class="card-body">
        <div class="jumbotron">
            <h1 class="display-4">Inicio</h1>
            <p class="lead">Bienvenido a CERES, aquí puedes administrar tu restaurte, con todo lo necesario para trabajar en CERES.</p>
            <hr class="my-4">
            <p>Selecciona la opción a realizar.</p>
        </div>
        <div class="row">
            <div class="col">
                <div class="alert alert-success" role="alert">
                    <h4 class="alert-heading">Menús</h4>
                    <p>Administra el menú de tu restaurante</p>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>